@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root {
--color-White: hsl(0, 0%, 100%) ; 
--Slate-300: hsl(212, 45%, 89%); 
--Slate-500: hsl(216, 15%, 48%); 
--Slate-900: hsl(218, 44%, 22%) ; 
}
.image{
    text-align: center;
}
*{
    font-family: "Outfit", sans-serif;
}
img {
    display: block;
    margin: 0 auto;
    width: 200px;
    border-radius: 10px;
}

.info{
    text-align :center;
    align-items: center;

}

h1{
    font-size: 20px;
    color: var(--Slate-900);
}

p{
    font-size: 13px;
    font-weight: 400;
    color: var(--Slate-500);
}
body{
    font-size: 15px;
    max-width: 375px;
    background-color: var(--Slate-300);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
}
.container{
    padding: 10px;
    width: 230px;
    background-color: var(--color-White);
    border-radius: 20px;
}
@media (min-width:1024px) {
    body {
        max-width: 1440px;
    }
}